.header {
}

.menu {
}

.menu__link {
}

.logo {
}

.logo__image {
}

.contacts {
}

.contacts__link {
}

.contacts__address {
}

.cover {
}

.cover__title {
}

.accent-span {
}

.cover__description {
}

.cover__description-text {
}

.cover__button {
}

.lots {
}

.lots__title {
}

.lots__list {
}

.lots__card {
}

.card-link {
}

.card {
}

.card__title {
}

.card__text {
}

.lots__look-more-link {
}

.about {
}

.about__logo {
}

.about__logo-image {
}

.about__column {
}

.about__title {
}

.about__text {
}

.about__paragraph {
}

.footer {
}

.socials {
}

.socials__item {
}

.socials__link {
}

.socials__icon {
}
