.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    width: 1100px;
}

.menu {
    justify-self: start;
}

.menu__list {
    display: flex;
    gap: 31px;
    list-style: circle;
    padding: 0;
    margin: 0;
}

.menu__list-item_no-bullit {
    list-style: none;
}

.menu__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: underline;
}

.menu__list-item_no-bullit .menu__link {
    text-decoration: none;
}

.logo {
    justify-self: center;
}

.logo__image {
    width: 148px;
    height: 105px;
    object-fit: contain;
}

.contacts {
    justify-self: end;
    font-style: normal;
}

.contacts__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.contacts__address {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 165px 50px 50px;
    width: 1100px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 30px;
    position: relative;
    z-index: 2;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: right;
    margin-right: -30px;
}

.letter-spacing-extended {
    letter-spacing: 0.3em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 106px;
    position: relative;
    z-index: 2;
}

.cover__description-text {
    align-self: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    word-spacing: 19px;
    line-height: 28px;
}

.bet-button {
    width: 256px;
    height: 51px;
    background: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    padding: 0;
}

.lots {
    padding: 180px 24px 120px;
    width: 1052px;
    margin: 0 auto;
}

.lots__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 27px;
    margin-left: 40px;
    color: #000000;
}

.lots__card-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.lots__card-list-item {
    display: flex;
    flex-direction: column;
    width: 334px;
    min-height: 596px;
    flex-shrink: 0;
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 48px 40px;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-underline-offset: -4px;
    text-underline-position: under;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
}

.lots__look-more-link {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-transform: lowercase;
    margin-left: 40px;
    margin-top: 30px;
    text-decoration: underline;
    color: #000000;
}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    column-gap: 24px;
    margin: 0 24px;
    width: 1052px;
    margin-left: auto;
    margin-right: auto;
}


.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background: #000000;
    border-radius: 50%;
    margin: 35px 0 0 47px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 100px;
    margin-top: 136px;
    color: #000000;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.about__paragraph {
    margin-bottom: 24px;
    padding-right: 5px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    padding: 82px 50px;
    margin-top: 99px;
    width: 1100px;
}

.address {
    display: inline-block;
    max-width: 240px;
    line-height: 24.3px;
    font-style: normal;
    font-size: 18px;
}

.address__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
}

.address__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.footer__menu {
    text-align: center;
}

.footer__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__menu-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer__menu-link {
    text-decoration: underline;
    text-underline-position: under;
    color: #000000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
    padding: 0;
    margin: 0;
}


.footer__social-link {
    display: block;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}